@{
    ViewBag.Title = "Kapcsolat";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Név:</strong> Lehotay-Kéry Péter<br />
    <strong>Neptun:</strong> HJA3NK<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:lkp@caesar.elte.hu">lkp@caesar.elte.hu</a><br />
</address>